.modal {
  background-color: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  border-radius: 40px;
  box-sizing: border-box;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 720px;
  z-index: 10;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.close_button {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
