.wrap {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding-top: 120px;
  width: 100%;
  gap: 60px;
}

.text {
  width: 320px;
}

.orders__container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 65vh;
  width: 100%;
  overflow-y: auto;
  padding-right: 8px;
}
